In [ ]:
! pip install pandas

<div id = "summary"> 
<ul>
    <li>DataFrame <strong><span style = "color:red">생성</span></strong></li>
    <li>DataFrame에 <strong><span style = "color:red">Data추가/삭제/조회</span></strong></li>

</div>

# 2. DataFrame

DataFrame 이란?

<ul>
    <li> 2차원 데이터 </li>
    <li> 인덱스가 같은 하나 이상의 <strong><u>Series가 모여진 데이터</u></strong> </li>
    <li> DBMS 의 관계형 Table 과 매우 유사 </li>
</ul>


먼저 DataFrame을 사용하기 위해 Pandas 라이브러리를 import 합니다.

In [6]:
# pandas library import
import pandas as pd
from pandas import Series, DataFrame

## 2.1 DataFrame 데이터 생성

DataFrame을 생성하기 위해 셀에 DataFrame() 이라고 입력하고 괄호 안에서 Shift+tab 을 눌러보면 아래와 같은 정보가 보입니다.  

DataFrame(<strong><span style = "color:red">data</span></strong>=None, <strong><span style = "color:red">index</span></strong>=None, <strong><span style = "color:red">columns</span></strong>=None, <strong><span style = "color:red">dtype</span></strong>=None, <strong><span style = "color:red">copy</span></strong>=False)  

값을 입력해줄 수 있고, Default 가 None이기 때문에 값이 없으면 아무 동작도 하지 않습니다. 속성값들을 하나씩 알아보겠습니다.
<ul>
    <li><strong><span style = "color:red">data</span></strong> : 저장되는 데이터</li>
    <li><strong><span style = "color:red">index</span></strong> : index에 대한 정보(미입력시 0부터 순차적으로 부여)</li>
    <li><strong><span style = "color:red">columns</span></strong> : 열에 대한 이름값(미입력시 0부터 순차적으로 부여)</li>
    <li><strong><span style = "color:red">dtype</span></strong> : 데이터에 대한 타입 명시(미입력시 자체적으로 판단)</li>
</ul>

예제를 확인하겠습니다.

In [7]:
Data1 = DataFrame([[180,75],[160,65],[170,75], [175,80]], 
                  index = ["사람1","사람2","사람3","사람4"], 
                  columns = ["키","몸무게"])
Data1

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [8]:
print(Data1)

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [9]:
Data1.shape

(4, 2)

In [10]:
Data1.index

Index(['사람1', '사람2', '사람3', '사람4'], dtype='object')

In [11]:
Data1.values

array([[180,  75],
       [160,  65],
       [170,  75],
       [175,  80]], dtype=int64)

In [12]:
Data1.columns

Index(['키', '몸무게'], dtype='object')

In [13]:
Data1.ndim

2

In [14]:
Data1.size

8

index와 columns의 경우 선언후에도 별도로 입력할 수도 있습니다.

In [ ]:
Data1 = DataFrame([[180,75],[160,65],[170,75], [175,80]])
Data1

In [ ]:
# 인덱스 저장
Data1.index = ["Man1","Man2","Man3","Man4"]
Data1

In [ ]:
Data1.columns

In [ ]:
# 컬럼명 저장
Data1.columns = ["Height","Weight"]
Data1

In [ ]:
Data1.columns

## 2.2 DataFrame 조회
- `DataFrame[컬럼명]` : 컬럼 선택
- `DataFrame.loc["index명"]` : 특정 index만 조회 가능하다.
- `DataFrame.iloc[index번호]` : 특정 index만 조회 가능하다.

In [16]:
# 예제를 위한 데이터 생성
Data2 = DataFrame([[180,75,30],[160,65,40],[170,75,32], [175,80,33]], 
                  index = ["사람1","사람2","사람3","사람4"], 
                  columns = ["키","몸무게","나이"])
Data2

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32
사람4  175   80  33

In [17]:
Data2.shape

(4, 3)

### Column 조회

<strong><span style = "color:red">DataFrame명["속성명"]</span></strong> 또는 <strong><span style = "color:red">DataFrame명.속성명</span></strong>을 통해 <strong><u>특정 속성명만 조회</u></strong> 할 수 있다.

하나의 속성명을 조회 하면 SeriesType, 여러 속성명을 조회 하면 DataFrame으로 출력된다.

In [18]:
# 키 Column 만 조회
Data2["키"]

사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64

In [19]:
Data2.몸무게

사람1    75
사람2    65
사람3    75
사람4    80
Name: 몸무게, dtype: int64

In [20]:
# Type 은 Series
type(Data2.몸무게)

pandas.core.series.Series

In [21]:
# 두 개 이상 컬럼 조회
Data2[["키", "몸무게"]]

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

### 컬럼 슬라이싱

범위와 슬라이싱은 row 방향의 레코드를 반환한다.

- Dataframe[start:stop] 를 통해 row 인덱스 조회
- Dataframe[start:stop:step] 를 통해 row 인덱스 조회

In [22]:
Data2[1:2]

       키  몸무게  나이
사람2  160   65  40

Step  이용

In [23]:
Data2[1::2]

       키  몸무게  나이
사람2  160   65  40
사람4  175   80  33

In [24]:
Data2[::2]

       키  몸무게  나이
사람1  180   75  30
사람3  170   75  32

In [25]:
Data2[2::2]

       키  몸무게  나이
사람3  170   75  32

### Index 조회

<ul>
    <li><strong><span style = "color:red">DataFrame명.loc["index명"]</span></strong> 을 통해 특정 index만 조회 가능하다.</li>
    <li><strong><span style = "color:red">DataFrame명.iloc[index번호]</span></strong> 를 통해 특정 index만 조회 가능하다.</li>
</ul>

In [ ]:
# 컬럼 조회
Data2['키']

In [ ]:
Data2[1]

In [ ]:
Data2[1:2]  # index range

In [ ]:
Data2

마찬가지로 하나의 index만 조회 할 경우 Series Type, 여러 index의 경우 DataFrame Type으로 출력한다.

In [26]:
Data2.loc["사람1"]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [27]:
# 1번 인덱스 --> 사람2의 정보만 출력
Data2.iloc[0]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [28]:
# 두 개 index를 index명으로 조회
Data2.loc[["사람1","사람2"]]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

In [29]:
# 여러 개의 index를 index번호로 조회
Data2.iloc[1:3]

       키  몸무게  나이
사람2  160   65  40
사람3  170   75  32

In [30]:
Data2.iloc[:-2]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

### Index Label과 column 동시 조회

하나의 index 명과 컬럼명에 해당하는 하나의 값 찾기
<ul>
<li> DataFrame명.at["index명","컬럼명"]</li>
<li> <strong><span style = "color:red">DataFrame명.loc["index명","컬럼명"]</li>
<li> <strong><span style = "color:red">DataFrame명.loc["index명"]["컬럼명"]</li>
</ul>
여러 index명과 컬럼명에 해당하는 여러 값 찾기
<ul>
<li> <strong><span style = "color:red">DataFrame명.loc[["index명1","index명2"],["컬럼명1","컬럼명2"]]</li>
<li> <strong><span style = "color:red">DataFrame명.loc[["index명1","index명2"]][["컬럼명1","컬럼명2"]]</li>
</ul>

In [ ]:
#사람1의 나이 찾기
Data2.loc["사람1","나이"] #인덱스,컬럼

In [ ]:
# ?
Data2["사람1","나이"]

In [ ]:
Data2.loc["사람1"]["나이"]

In [ ]:
#사람2의 몸무게 찾기
Data2.loc["사람2"]["몸무게"]

In [ ]:
#사람3의 키 찾기
Data2.at["사람3","키"]

In [31]:
# 사람1, 사람2 의 키 조회
Data2.loc[["사람1","사람2"]]["키"]

사람1    180
사람2    160
Name: 키, dtype: int64

In [ ]:
# 사람1,사람2 의 키와 몸무게 조회
Data2.loc[["사람1","사람2"],["키","몸무게"]]

### Index 과 column 동시 조회

하나의 index 번호와 컬럼번호에 해당하는 하나의 값 찾기
<ul>
<li> DataFrame명.iat[index번호,컬럼번호]</li>
<li> DataFrame명.iloc[index번호,컬럼번호]</li>
<li> DataFrame명.iloc[index번호][컬럼번호]</li>
</ul>
여러 index 번호와 컬럼번호에 해당하는 여러 값 찾기
<ul>
<li> DataFrame명.iloc[index번호1:index번호2,컬럼번호1:컬럼명번호2]</li>
</ul>

In [32]:
# 사람1의 나이 찾기
Data2.iloc[0,2]

30

In [ ]:
#사람2의 몸무게 찾기
Data2.iloc[1][1]

In [ ]:
#사람2의 몸무게 찾기
Data2.iloc[1]['몸무게']

In [ ]:
Data2.iloc[0,['몸무게']]  # 결과는?

In [ ]:
#사람3의 키 찾기
Data2.iat[2,0]

In [ ]:
# 사람1, 사람2 의 키 조회
Data2.iloc[0:2,0]

In [ ]:
# 사람1,사람2 의 키와 몸무게 조회
Data2.iloc[0:2,0:2]

### 조건 조회

In [ ]:
Data2["키"] >= 170

In [ ]:
# 키가 170 이상인 사람만 조회
Data2[ Data2["키"] >= 170 ]

### 상위/하위 데이터 조회

<ul>
<li>head(개수) : 위에서부터 개수만큼의 데이터만 출력</li>
<li>tail(개수) : 밑에서부터 개수만큼의 데이터만 출력</li>
</ul>
개수를 쓰지 않을 경우 5개만 출력

In [ ]:
Data2.head(3)

In [ ]:
Data2.tail(2)

## 2.3 Enumeration

 데이터 프레임을 만들고 이를 순환문으로 처리하면 실제 칼럼정보만 처리된다.

In [ ]:
for i in Data2 :
    print(i)

In [ ]:
Data2['키'], type(Data2['키'])

데이터 프레임 행으로 읽어오기

In [ ]:
for i in Data2.iterrows() :
    print(i)

In [ ]:
for i,s in Data2.iterrows() :
    print(i,s,type(s))

데이터 프레임에 있는 원소를 열로 가져오기

In [ ]:
print(df.iteritems())

In [ ]:
for i, s in df.iteritems() :
    print(i,s, type(s))

In [ ]:
print(df.items())

In [ ]:
for i,s in df.items() :
    print(i,s, type(s))

## 2.4 데이터 추가, 삭제

### Column 추가

#### 값으로 추가

In [ ]:
Data2

In [ ]:
Data2["나이"] = [31,41,31,31]
Data2

#### Series 또는 DataFrame에서 추가

In [33]:
 Data1["Weight"] / ((Data1["Height"] / 100) * (Data1["Height"] / 100))

KeyError: 'Weight'

In [35]:
# bmi = 몸무게(kg) / 키(m)*키(m)
Data1["BMI"] = Data1["Weight"] / ((Data1["Height"] / 100) * (Data1["Height"] / 100))
Data1

KeyError: 'Weight'

In [ ]:
Data1['Test'] = [1,2,3,4]
Data1

###  행 추가

append 함수를 이용해서 행기준으로 데이터를 추가 할 수 있습니다.

#### Series와 List를 이용한 행추가

In [34]:
listOfSeries = [pd.Series([187, 85, 34, 0], index = Data1.columns),
               pd.Series([183, 80, 32, 0], index = Data1.columns)]

ValueError: Length of values (4) does not match length of index (2)

In [ ]:
listOfSeries

In [ ]:
Data1 = Data1.append(listOfSeries)
Data1

#### DataFrame을 행기준으로 추가

In [ ]:
df = DataFrame([[180,75,30,33],[160,65,40,22]], 
               index = ["사람5","사람6"], 
               columns = ["Height","Weight","나이","BMI"])
df

In [ ]:
Data1.append(df)

### 데이터 삭제

drop 함수를 쓰면 행과 열을 삭제 할 수 있습니다.

axis option
<ul>
<li>0 : 행 기준 삭제</li>
<li>1 : 열 기준 삭제</li>
</ul>

####  열 삭제

In [ ]:
Data1

In [ ]:
Data1 = Data1.drop("BMI", axis = 1)
Data1

#### del

In [ ]:
del Data1['Test']

#### 행 삭제

In [ ]:
Data1

In [ ]:
Data1 = Data1.drop("Man1", axis = 0)
Data1

# 2.5 Options

## max_columns

컬럼 수가 많은 경우에는 처음과 끝의 컬럼을 제외하고 나머지 컬럼들은 축약이 되서 `[...]` 으로 표시된다. 일단 실험해보기 위해서 랜덤한 실수로 구성된 1000개의 값들을 10행 100컬럼으로 이루어진 데이터프레임을 생성해보자.

In [37]:
import numpy as np

In [38]:
df = pd.DataFrame(np.random.random(1000).reshape(10,100))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.139719,0.803696,0.567894,0.349742,0.074230,0.290389,0.842196,0.580905,0.742355,0.202906,...,0.840341,0.901071,0.207234,0.443140,0.808923,0.060321,0.314651,0.160951,0.048534,0.477592
1,0.992366,0.922154,0.465378,0.312087,0.619163,0.656585,0.405239,0.905386,0.413069,0.728129,...,0.852525,0.751729,0.704889,0.084623,0.487354,0.266004,0.236837,0.910538,0.756117,0.330417
2,0.475801,0.345407,0.272082,0.887120,0.296242,0.239881,0.463299,0.838873,0.719094,0.486917,...,0.827856,0.438703,0.673192,0.237481,0.834861,0.301541,0.833428,0.522496,0.078899,0.811511
3,0.747427,0.486153,0.772479,0.880858,0.126916,0.454546,0.542983,0.225284,0.560307,0.948976,...,0.033098,0.658289,0.606614,0.960736,0.957779,0.314256,0.513947,0.305905,0.888520,0.209667
4,0.389030,0.433353,0.564360,0.807069,0.167588,0.522989,0.424763,0.054175,0.279453,0.788979,...,0.047836,0.953033,0.950118,0.365780,0.164454,0.690459,0.896780,0.359981,0.799079,0.591993

### display.max_columns 사용

전체적인 변수들을 한번에 보고싶은 경우에 options 안의  `display.max_columns` 옵션 사용해서 모두 표시할 수 있다.

In [39]:
PREV_COL_NUMS = pd.options.display.max_columns
PREV_COL_NUMS

20

In [40]:
pd.options.display.max_columns = 100
pd.options.display.max_columns

100

In [41]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
0,0.139719,0.803696,0.567894,0.349742,0.074230,0.290389,0.842196,0.580905,0.742355,0.202906,0.126596,0.086306,0.576722,0.879425,0.824737,0.669968,0.396242,0.379148,0.514641,0.776693,0.978056,0.273826,0.624651,0.301963,0.418394,0.060086,0.797634,0.770511,0.974065,0.475926,0.664431,0.364990,0.860416,0.598019,0.481187,0.403290,0.324178,0.952406,0.212664,0.633280,0.085350,0.039202,0.986784,0.576885,0.018726,0.764245,0.429889,0.760147,0.610092,0.808220,0.321353,0.827557,0.981347,0.907023,0.380853,0.508040,0.971988,0.565733,0.771295,0.714880,0.106308,0.343025,0.357311,0.370447,0.368599,0.609537,0.451815,0.860397,0.105473,0.797173,0.225806,0.068817,0.528539,0.773167,0.956792,0.353775,0.187822,0.121510,0.536141,0.386480,0.763128,0.895980,0.244957,0.645876,0.715478,0.428605,0.368107,0.421679,0.559994,0.813415,0.840341,0.901071,0.207234,0.443140,0.808923,0.060321,0.314651,0.160951,0.048534,0.477592
1,0.992366,0.922154,0.465378,0.312087,0.619163,0.656585,0.405239,0.905386,0.413069,0.728129,0.701080,0.614429,0.493826,0.447056,0.248766,0.751648,0.850628,0.842504,0.467920,0.048665,0.710157,0.382780,0.779514,0.050899,0.387689,0.001384,0.504442,0.558451,0.838884,0.512704,0.147388,0.329494,0.296530,0.593111,0.613150,0.624538,0.604381,0.798867,0.762670,0.705274,0.326415,0.499067,0.018295,0.470012,0.863116,0.077800,0.054234,0.935623,0.159693,0.784910,0.062723,0.042990,0.673162,0.040218,0.402062,0.507499,0.824185,0.867841,0.848163,0.159534,0.520292,0.101929,0.273557,0.305704,0.290475,0.631596,0.698139,0.450039,0.435537,0.203831,0.431932,0.907107,0.786058,0.239432,0.677130,0.621406,0.347602,0.570375,0.077417,0.374151,0.500329,0.095766,0.108492,0.478119,0.386470,0.345131,0.970931,0.200165,0.124794,0.859277,0.852525,0.751729,0.704889,0.084623,0.487354,0.266004,0.236837,0.910538,0.756117,0.330417
2,0.475801,0.345407,0.272082,0.887120,0.296242,0.239881,0.463299,0.838873,0.719094,0.486917,0.391776,0.924762,0.568353,0.470344,0.937318,0.562480,0.110830,0.522156,0.389231,0.774843,0.510358,0.090115,0.813761,0.501827,0.715782,0.836534,0.563326,0.320090,0.087812,0.999718,0.315829,0.962624,0.129910,0.557093,0.136817,0.015787,0.926940,0.975292,0.301816,0.378391,0.183893,0.467790,0.238940,0.806253,0.918699,0.510179,0.689546,0.436259,0.088458,0.655637,0.357603,0.430937,0.365141,0.644048,0.637002,0.847588,0.499536,0.803364,0.285493,0.194752,0.782218,0.664565,0.385846,0.055958,0.598027,0.486406,0.179688,0.306241,0.030807,0.128304,0.192544,0.194052,0.688304,0.268623,0.312165,0.647935,0.481237,0.318577,0.075307,0.168137,0.444711,0.076459,0.641633,0.841585,0.407703,0.154725,0.957905,0.650496,0.784889,0.062062,0.827856,0.438703,0.673192,0.237481,0.834861,0.301541,0.833428,0.522496,0.078899,0.811511
3,0.747427,0.486153,0.772479,0.880858,0.126916,0.454546,0.542983,0.225284,0.560307,0.948976,0.017690,0.663082,0.106280,0.216014,0.560888,0.596083,0.567430,0.687573,0.586393,0.368993,0.972409,0.910909,0.800799,0.860158,0.021723,0.704610,0.285842,0.901771,0.550983,0.522633,0.221891,0.614458,0.036152,0.419919,0.807550,0.824319,0.040385,0.048184,0.653072,0.227024,0.985793,0.588742,0.726473,0.122137,0.865428,0.544961,0.171903,0.821758,0.389369,0.994347,0.684753,0.304723,0.962971,0.278735,0.232172,0.310384,0.894807,0.298371,0.390753,0.229019,0.273262,0.242787,0.505192,0.959899,0.263474,0.557047,0.153275,0.170661,0.996826,0.644450,0.753547,0.370674,0.638582,0.948185,0.466094,0.733292,0.342544,0.927592,0.271847,0.164524,0.299769,0.076781,0.360560,0.519896,0.541279,0.622078,0.746081,0.918709,0.481610,0.199363,0.033098,0.658289,0.606614,0.960736,0.957779,0.314256,0.513947,0.305905,0.888520,0.209667
4,0.389030,0.433353,0.564360,0.807069,0.167588,0.522989,0.424763,0.054175,0.279453,0.788979,0.139648,0.004084,0.916167,0.297945,0.324322,0.302725,0.717928,0.146621,0.074367,0.181718,0.276274,0.048009,0.157906,0.566001,0.973089,0.947802,0.894525,0.256220,0.640307,0.345022,0.569834,0.581682,0.547951,0.643080,0.444514,0.813248,0.888233,0.216556,0.555722,0.852150,0.756175,0.144195,0.177654,0.028333,0.636008,0.633951,0.818532,0.408265,0.538400,0.184446,0.283900,0.968324,0.808051,0.074343,0.927478,0.764698,0.997742,0.310744,0.734679,0.134284,0.656908,0.932340,0.221039,0.392586,0.725030,0.730186,0.439642,0.526807,0.428638,0.712216,0.522161,0.983528,0.041505,0.555090,0.808644,0.227528,0.430865,0.523817,0.438872,0.295981,0.155507,0.209947,0.962218,0.756554,0.427946,0.148026,0.102973,0.078112,0.575431,0.833904,0.047836,0.953033,0.950118,0.365780,0.164454,0.690459,0.896780,0.359981,0.799079,0.591993

In [43]:
pd.options.display.max_columns = PREV_COL_NUMS

In [44]:
pd.get_option('display.max_columns')

20

### set_option() 사용

`pd.set_option(OPTION_VAR)` 안에 최대 컬럼 수 `display.max_columns` 를 지정해주면 된다.