# 판다스 연습 튜토리얼 20 / 100

목차 및 구성 출처 : https://github.com/guipsamora/pandas_exercises

# 01 Getting & Knowing Data

In [1]:
import pandas as pd

## LoL 랭킹 데이터
 - https://www.kaggle.com/datasnaek/league-of-legends    
 - data url: https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv

### Question 1

위 data url 의 csv 파일을 pandas로 로드하자. 데이터는 `\t` 을 기준으로 구분되어있다.

In [40]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv", sep="\t")

### Question 2

**데이터의 상위 5개 행을 출력하라**

In [42]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

데이터에서 하위 내역 10개를 출력하자

In [43]:
df.tail(10)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
51480,3323042180,1504043178172,1713,9,2,1,2,2,2,1,...,10,2,1,1,1,202,90,29,36,28
51481,3269295840,1500411788750,2246,9,1,1,1,2,1,2,...,9,2,1,2,0,19,51,154,3,122
51482,3320507859,1503854048040,2522,9,2,1,1,2,2,2,...,11,6,3,5,0,157,122,79,238,141
51483,3328393516,1504448939147,1674,9,2,2,1,2,2,1,...,10,2,1,1,0,-1,412,19,40,29
51484,3316694929,1503589096685,2701,9,2,2,1,2,2,2,...,11,5,2,3,0,57,21,157,53,58
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

`iloc` 를 사용해서 데이터 마지막 위치의 5개를 출력해 보자

In [44]:
df.iloc[-5:]

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

### Question 3

**데이터의 행과 열의 갯수를 파악하라**
- shape 사용

In [45]:
df.shape

(51490, 61)

### Question 4

**전체 컬럼을 result에 담아 출력하라**

In [14]:
result = df.columns

In [15]:
result

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

result 객체의 데이터는 ndarray로 살펴볼 수 있다. ndarray 객체로 출력하라.

In [39]:
import numpy as np
np.array(df.columns)

array(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1',
       't1_champ2_sum2', 't1_champ3id', 't1_champ3_sum1',
       't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills',
       't1_baronKills', 't1_dragonKills', 't1_riftHeraldKills', 't1_ban1',
       't1_ban2', 't1_ban3', 't1_ban4', 't1_ban5', 't2_champ1id',
       't2_champ1_sum1', 't2_champ1_sum2', 't2_champ2id',
       't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id',
       't2_champ4_sum1', 't2_champ4_sum2', 't2_champ5id',
       't2_champ5_sum1', 't2_champ5_sum2', 't2_towerKills',
       't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'], dtype=object)

### Question 5

**6번째 컬럼명을 Ans 에 담아 출력하라**

In [37]:
Ans = df.columns[5]

In [38]:
Ans

'firstBlood'

컬럼이름에서 10에서 15번째 컬럼을 출력하라

In [49]:
df.columns[10:16]

Index(['firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2',
       't1_champ2id', 't1_champ2_sum1'],
      dtype='object')

### Question 6
**6번째 컬럼의 데이터 타입을 확인하라**

In [55]:
df[Ans].dtype

### Question 7

**데이터셋의 인덱스 값을 출력하자**

In [58]:
df.index

RangeIndex(start=0, stop=51490, step=1)

인덱스 값을 ndarray 로 출력하자

In [60]:
np.array(df.index)

array([    0,     1,     2, ..., 51487, 51488, 51489], dtype=int64)

인덱스 값의 min, max 값을 출력하자

In [62]:
df.index.min(), df.index.max()

(0, 51489)

### Question 8
**3행에서 6번째 컬럼 값은 무엇인가?**

In [63]:
df.iloc[2,5]

2

## 제주 날씨,인구에 따른 교통량데이터
 - 출처 제주 데이터 허브
 - data url : https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv

### Question 9
**데이터를 로드하라.**

In [69]:
df2 = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv", encoding='cp949')

에러를 살펴보고 인코딩을 지정해 데이터를 로딩한다.

In [70]:
df2.head(5)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.5
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.5
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.4
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.4
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.3

데이터의 차원, 차수, 크기, 데이터 형식을 출력해 보자
 - dataframe 의 주요 속성

In [85]:
df2.ndim,df2.ndim, df2.shape, df2.dtypes

(2,
 (9621, 13),
 id            int64
 일자           object
 시도명          object
 읍면동명         object
 거주인구        float64
 근무인구        float64
 방문인구        float64
 총 유동인구      float64
 평균 속도       float64
 평균 소요 시간    float64
 평균 기온       float64
 일강수량        float64
 평균 풍속       float64
 dtype: object)

### Question 10
**데이터 마지막 3개행을 출력하라**

In [86]:
df2.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

`iloc` 를 사용해서 데이터 마지막 위치의 5개를 출력해 보자

In [87]:
df2.iloc[-5:]

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

### Question 11

`df.select_dtypes(exclude=)` 를 사용해서 **수치형 변수를 가진 컬럼을 출력하라**

In [91]:
df2.select_dtypes(exclude='object').columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

### Question 12

`df.select_dtypes(include=)` 를 사용해서 ****범주형 변수를 가진 컬럼을 출력하라**

In [94]:
df2.select_dtypes(include='object').columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

### Question 13
**각 컬럼의 결측치 숫자를 파악하라**

In [95]:
df2.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

### Question 14

Dataframe의 컬럼의 정보(데이터수, 데이터타입), 인덱스 정보를 출력하라**

In [96]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

### Question 15

Dataframe의 기본 통계표를 출력하자. **각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라**

In [99]:
df2.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

기본 통계표를 피보팅해서 컬럼을 행하고 인덱스를 컬럼으로 전환해 살펴보자.

,count,mean,std,min,25%,50%,75%,max
id,9621.0,27258.000000,2777.487804,22448.000,24853.000,27258.000,29663.000,32068.000
거주인구,9621.0,317431.480541,298207.949076,9305.552,95399.394,222110.460,410667.056,1364503.913
근무인구,9621.0,35471.201510,40381.214775,1407.936,12074.498,21960.928,40192.032,263476.965
방문인구,9621.0,195889.561802,140706.090325,11538.322,99632.153,152805.335,236325.109,723459.209
총 유동인구,9621.0,548792.243858,460880.237722,22251.810,221690.987,386693.468,640691.811,2066483.867
평균 속도,9621.0,41.109084,8.758631,24.333,34.250,39.640,49.105,103.000
평균 소요 시간,9621.0,37.215873,12.993786,12.667,27.889,34.500,46.176,172.200
평균 기온,9621.0,13.550828,7.745515,-9.600,7.600,13.400,19.700,30.400
일강수량,9621.0,6.972426,27.617260,0.000,0.000,0.000,1.500,587.500
평균 풍속,9621.0,2.753171,1.498538,0.000,1.700,2.400,3.400,13.333

### Question 16
**거주인구 컬럼의 값들을 출력하라**

In [100]:
df2['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

`거주인구` 컬럼의 기본 통계값을 출력하자

### Question 17

**`평균 속도` 컬럼의 4분위위수 25/50/70% 값을 구하여라**
 - quantile

In [103]:
df2['평균 속도'].quantile([.25,.5,.7])

0.25    34.250
0.50    39.640
0.70    47.541
Name: 평균 속도, dtype: float64

**`평균 속도` 컬럼의 4분위 범위(IQR) 값을 구하여라**

In [115]:
df2['평균 속도'].quantile(.75)-df2['평균 속도'].quantile(.25)

14.854999999999997

### Question 18

**읍면동명 컬럼의 유일값을 모두 출력하라**

 - unique
 - nunique

In [120]:
df2['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

### Question 19

**읍면동명 컬럼의 유일값 갯수를 출력하라**
 - unique
 - nunique

In [119]:
df2['읍면동명'].nunique()

41

**읍면동명 컬럼의 유일 값과 각 값의 갯수를 출력하라**
 - value_counts

In [121]:
df2['읍면동명'].value_counts()

남원읍     241
용담1동    241
한림읍     241
오라동     241
효돈동     241
정방동     241
대정읍     241
외도동     241
이도1동    241
삼도2동    241
중앙동     241
성산읍     241
삼도1동    241
예래동     241
영천동     241
일도2동    241
송산동     241
한경면     241
서홍동     241
동홍동     241
일도1동    241
용담2동    241
구좌읍     241
안덕면     240
표선면     240
화북동     240
천지동     240
도두동     240
아라동     240
삼양동     240
이호동     240
대륜동     240
조천읍     240
이도2동    240
애월읍     240
연동      239
노형동     239
건입동     238
중문동     238
봉개동     238
대천동       6
Name: 읍면동명, dtype: int64

>

>